@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body{
    background-color: rgb(39, 39, 39);
}

.dark{
    background-color: rgb(39, 39, 39);
    height: 100%;
    transition: background-color 1s;
}

.light{
    background-color: white;
    height: 100%;
    transition: background-color 1s;
}

